:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.toolbar {
  // Votre style existant...

  .user-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 8px;
    }

    .user-menu {
      display: flex;
      position: absolute;
      top: 60px;
      right: 0;
      width: 150px;
      height: 225px;
      text-shadow: rgb(230, 190, 190);
      color: rgb(189, 155, 116);
      background-color: rgb(236, 236, 215);
      padding: 10px; /* Espacement interne */
      border-radius: 5px; /* Coins arrondis */
      border: 1px solid #ccc;
      box-shadow: 0 10px 8px rgba(36, 132, 177, 0.514);
      z-index: 2;

      ul {
        list-style:none;
        padding: 0;
        margin: 0;
        color: #333;
        background-color: #f0f0f0;

        li {
          display: flex; /* Utilisation de la flexbox pour aligner les éléments horizontalement */
          align-items: center; /* Alignement vertical au centre */
          //margin-bottom: 10px; /* Espacement entre les éléments de la liste */
    //    padding: 8px 16px;
          &:hover {
            background-color: #ffffffec;
          }
          /* Espacement entre les éléments à l'intérieur du li */
          margin-top: 5px; /* Espacement en haut */
          margin-bottom: 5px; /* Espacement en bas */
          margin-left: 10px; /* Espacement à gauche */
          margin-right: 10px; /* Espacement à droite */
        }

        a {
          text-decoration: none; /* Supprime le soulignement par défaut des liens */
          color: #333; /* Couleur du texte */
          font-size: 1em; /* Taille de la police */
          &:hover {
            color: #007bff;
          }
        }
      }
    }
  }
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }


}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #b0bb91;
  list-style: none;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
.dropdown{
  margin-left: auto;
}

.userimage1{

  width: 50px;
}

.container {
  position: relative;
  width: 300px; /* Largeur du rectangle */
  height: 200px; /* Hauteur du rectangle */
  top: 50px;

}
body{
  font-family: 'Amasis MT Pro Black', sans-serif;
}

.rectangle {
  width: 150%;
  height: 104%;
  background-color: #6dddec60; /* Couleur du rectangle */
  border-radius: 0% 15% 10% 0%;
  box-shadow: 5px 5px 18px #9eb1b1;;
  position: absolute;
  display: flex;

  flex-direction: row;

}


.quarter-circle {
  width: 150px;
  height: 200px;
  background-color: aquamarine;
  border-bottom-right-radius: 150px;
  border:solid;
  float: left;

}
img {
  width: 100%;
  height: 70%;
  object-fit: cover; /* Ajuste l'image pour qu'elle remplisse le cercle */
}

.sport{

  color: #1f2020e7;
  float: left;
  margin-top: auto;
  margin-left: 200px;
  position: absolute;
  width: 200px;
}
.bouton{
  background-color: #a9f1dc; /* Couleur orangée pastel */
  color: #5a4848;
  padding: 10px 20px;
  margin-left: 60%;
  border:none;
  border-radius: 0% 30% 0% 30%;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}
button[type="submit"]:hover {
  background-color: #ff4c3a; /* Couleur orangée pastel plus foncée */
}
.rectangle1 {
  width: 150%;
  height: 104%;
  background-color: rgba(208, 114, 38, 0.38); /* Couleur du rectangle */
  border-radius: 0% 15% 10% 0%;
  box-shadow: 5px 5px 18px #e0ae6b;;
  position: absolute;
  display: flex;

  flex-direction: row;

}


.container1 {
  position: relative;
  width: 300px; /* Largeur du rectangle */
  height: 200px; /* Hauteur du rectangle */
  top: 150px;
}
.quarter-circle1{
  width: 150px;
  height: 200px;
  background-color: #ef8d3d;
  border-bottom-right-radius: 150px;
  border:solid;
  float: left;

}
.bouton1{
  background-color: #ff8400; /* Couleur orangée pastel */
  color: rgba(10, 10, 10, 0.94);
  padding: 10px 20px;
  margin-left: 60%;
  border:none;
  border-radius: 0% 30% 0% 30%;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.rectangle2 {
  width: 150%;
  height: 104%;
  background-color: rgba(96, 181, 213, 0.6); /* Couleur du rectangle */
  border-radius: 0% 15% 10% 0%;
  box-shadow: 5px 5px 18px #6ba2e0;;
  position: absolute;
  display: flex;

  flex-direction: row;

}


.container2 {
  position: relative;
  width: 300px; /* Largeur du rectangle */
  height: 200px; /* Hauteur du rectangle */
  top: 250px;
}
.quarter-circle2{
  width: 150px;
  height: 200px;
  background-color: #bcd2ce;
  border-bottom-right-radius: 150px;
  border:solid;
  float: left;

}
.bouton2{
  background-color: #cad9e3; /* Couleur orangée pastel */
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin-left: 60%;
  border:none;
  border-radius: 0% 30% 0% 30%;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.rectangle3 {
  width: 150%;
  height: 104%;
  background-color: rgba(205, 174, 211, 0.81); /* Couleur du rectangle */
  border-radius: 0% 15% 10% 0%;
  box-shadow: 5px 5px 18px #b16be0;;
  position: absolute;
  display: flex;

  flex-direction: row;

}

.container3 {
  position: relative;
  width: 300px; /* Largeur du rectangle */
  height: 200px; /* Hauteur du rectangle */
  top: 350px;
}
.quarter-circle3{
  width: 150px;
  height: 200px;
  background-color: #dbd4e3;
  border-bottom-right-radius: 150px;
  border:solid;
  float: left;

}
.bouton3{
  background-color: #9b58b7; /* Couleur orangée pastel */
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin-left: 60%;
  border:none;
  border-radius: 0% 30% 0% 30%;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.rectangle4 {
  width: 150%;
  height: 104%;
  background-color: rgba(229, 210, 116, 0.93); /* Couleur du rectangle */
  border-radius: 0% 15% 10% 0%;
  box-shadow: 5px 5px 18px #c9b344;;
  position: absolute;
  display: flex;

  flex-direction: row;

}

.container4 {
  position: relative;
  width: 300px; /* Largeur du rectangle */
  height: 200px; /* Hauteur du rectangle */
  top: 450px;
}
.quarter-circle4{
  width: 150px;
  height: 200px;
  background-color: rgba(241, 233, 207, 0.9);
  border-bottom-right-radius: 150px;
  border:solid;
  float: left;

}
.bouton4{
  background-color: rgba(224, 214, 156, 0.99); /* Couleur orangée pastel */
  color: rgba(10, 10, 10, 0.94);
  padding: 10px 20px;
  margin-left: 60%;
  border:none;
  border-radius: 0% 30% 0% 30%;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}
